<!DOCTYPE html>
	<html>
		<head>
			<title>The simple guys simple blogs</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:naveenkoti@gmail.com">Mail Me</a></li>
	        		<li><a href="https://github.com/NaveenKoti">github.com/NaveenKoti</a></li>
				</ul>
			</footer>
		</body>
	</html>
