<!DOCTYPE html>
<html lang="en">
<head>
  <title>Naveen Koti: Simple Guy, Day Dreamer, Enthusiast</title>
<meta name="description" content="This website is about day dreamer Naveen Koti who is simple and very enthusiastic of connecting with others,sharing ideas and collaborating to witness them in reality">
<meta name="keywords" content="naveen,koti,naveenkoti,simple,explore,share,happiness,writes,navi,day,dreamer,that, simple, writes, about, simple, things, shares, simple, things, simple, things, bring, smile, everyone, ahead, explore">
<meta name="author" content="NaveenKoti">
<meta property="og:title" content="Naveen Koti" />
<meta property="og:type" content="webpage" />
<meta property="og:url" content="http://naveenkoti.github.in" />
<meta property="og:image" content="http://ia.media-imdb.com/images/rock.jpg" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>
{{content}}
</body>
</html>
